.env

.claude/

backend/__pycache__/

frontend/node_modules/
frontend/dist/assets
frontend/yarn.lock
frontend/public/
frontend/dist/

logs/

backend/Data/
Data/
backend/venv/
venv/

test/

trans_markdown.sh